extend ../layout.jade 
block content
 #contentrow.row.layout--accountPage
  .row__container.catfish-container
    #contentiInnerRow.clearfix.columns.is-desktop
      .grid_3.column.is-3-desktop
        .block.block-account-navigation
          .title
            | My account
          .clear
          .listbox
            ul
              li.cf_accountlinks_CustomerInfo
                a.inactive(rel='nofollow' href='/account/customer_info') Customer info
             
              li.cf_accountlinks_CustomerOrders
                a.inactive(rel='nofollow' href='/account/orders') Orders
              li.cf_accountlinks_CustomerChangePassword
                a.active(rel='nofollow' href='/account/change_password') Change password
              li.cf_accountlinks_CustomerChangePassword
                a.inactive(rel='nofollow' href='/logout') Logout
              
              //li.cf_accountlinks_SavedProjects
                a.inactive(rel='nofollow' href='/account/saved_projects') Saved Projects
      .grid_9.column.is-9-desktop
        .master-wrapper-cph-2
          #BeforeMainContainer.row
          form(action='/account/change_password_post' method='post' novalidate='novalidate')
            .account-page.account-page--changepassword
              .catfish-container
                .page-title
                  h1.title.is-spaced
                    span.account-page__myaccounttitletext My account - 
                    | Change password
                .clear
                .body
                  .customer-pass-recovery
                    .block
                    .clear
                    .section-body
                      table.table-container
                        tbody
                         tr
                            td.item-name
                              label(for='NewPassword') New password
                              | :
                            td.item-value
                              input#NewPassword.catfish-input(data-val='true' data-val-equalto='The new password and confirmation password do not match.' data-val-equalto-other='*.ConfirmNewPassword' data-val-required='New password is required.' name='password' placeholder='New password' type='password')
                              span.field-validation-valid(data-valmsg-for='NewPassword' data-valmsg-replace='true')
                              div(data-lastpass-icon-root='true' style='position: relative !important; height: 0px !important; width: 0px !important; float: left !important;')
                          tr
                            td.item-name
                              label(for='ConfirmNewPassword') Confirm password
                              | :
                            td.item-value
                              input#ConfirmNewPassword.catfish-input(data-val='true' data-val-required='Password is required.' name='password2' placeholder='Confirm password' type='password')
                              span.field-validation-valid(data-valmsg-for='ConfirmNewPassword' data-valmsg-replace='true')
                              div(data-lastpass-icon-root='true' style='position: relative !important; height: 0px !important; width: 0px !important; float: left !important;')
                    .clear
                   
                    button.changepasswordbutton.catfish-button(type='submit' ) Change password
          #AfterMainContainer.afterMainContainer-inner
