doctype html
html.light-style.customizer-hide(lang='en' dir='ltr' data-theme='theme-default' data-assets-path='../../assets/' data-template='horizontal-menu-template-no-customizer')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    title Pandora Prints - Login
    meta(name='description' content='')
    // Favicon
    link(rel='icon' sizes='192x192' href='/assets/favicons/favicon.ico')
    // Fonts
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap' rel='stylesheet')
    // Icons
    link(rel='stylesheet' href='../../assets/vendor/fonts/fontawesome.css')
    link(rel='stylesheet' href='../../assets/vendor/fonts/tabler-icons.css')
    link(rel='stylesheet' href='../../assets/vendor/fonts/flag-icons.css')
    // Core CSS
    link(rel='stylesheet' href='../../assets/vendor/css/rtl/core.css')
    link(rel='stylesheet' href='../../assets/vendor/css/rtl/theme-default.css')
    link(rel='stylesheet' href='../../assets/css/demo.css')
    // Vendors CSS
    link(rel='stylesheet' href='../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css')
    link(rel='stylesheet' href='../../assets/vendor/libs/node-waves/node-waves.css')
    link(rel='stylesheet' href='../../assets/vendor/libs/typeahead-js/typeahead.css')
    // Vendor
    link(rel='stylesheet' href='../../assets/vendor/libs/formvalidation/dist/css/formValidation.min.css')
    // Page CSS
    // Page
    link(rel='stylesheet' href='../../assets/vendor/css/pages/page-auth.css')
    // Helpers
    script(src='../../assets/vendor/js/helpers.js')
    // ! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section
    // ? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.
    script(src='../../assets/js/config.js')
    style.
     .alert-error
      {
          color: #a94442;
          background-color: #f2dede;
          border-color: #ebccd1;
      }
  body
    // Content
    .authentication-wrapper.authentication-cover.authentication-bg
      .authentication-inner.row
        // /Left Text
        .d-none.d-lg-flex.col-lg-7.p-0
          .auth-cover-bg.auth-cover-bg-color.d-flex.justify-content-center.align-items-center
            img.img-fluid.my-5.auth-illustration(src='../../assets/img/illustrations/auth-login-illustration-light.png' alt='auth-login-cover' data-app-light-img='illustrations/auth-login-illustration-light.png' data-app-dark-img='illustrations/auth-login-illustration-dark.png')
            img.platform-bg(src='../../assets/img/illustrations/bg-shape-image-light.png' alt='auth-login-cover' data-app-light-img='illustrations/bg-shape-image-light.png' data-app-dark-img='illustrations/bg-shape-image-dark.png')
        // /Left Text
        // Login
        .d-flex.col-12.col-lg-5.align-items-center.p-sm-5.p-4
          .w-px-400.mx-auto
            // Logo
            .app-brand.mb-4
              a.app-brand-link.gap-2(href='/')
                span.app-brand-logo
                
                    img(src='/assets/logo/logo.png' style='width:100px')
            // /Logo
            h3.mb-1.fw-bold Welcome to Pandora Prints! 
            p.mb-4 Please sign-in to your account and start the adventure
            != messages('message', locals)
                  
            form#formAuthentication.mb-3(action='/auth/login' method='POST')
              .mb-3
                label.form-label(for='email') Email or Username
                input#email.form-control(type='text' name='username' placeholder='Enter your email or username' autofocus='')
              .mb-3.form-password-toggle
                .d-flex.justify-content-between
                  label.form-label(for='password') Password
                  a(href='/auth/forgot_password')
                    small Forgot Password?
                .input-group.input-group-merge
                  input#password.form-control(type='password' name='password' placeholder='路路路路路路路路路路路路' aria-describedby='password')
                  span.input-group-text.cursor-pointer
                    i.ti.ti-eye-off
              .mb-3
                .form-check
                  input#remember-me.form-check-input(type='checkbox')
                  label.form-check-label(for='remember-me')  Remember Me 
              button.btn.btn-primary.d-grid.w-100 Sign in
            p.text-center
              span New on our platform? 
              a(href='/auth/register')
                span Create an account
            
        // /Login
        // / Content
        // Core JS
        // build:js assets/vendor/js/core.js
        script(src='../../assets/vendor/libs/jquery/jquery.js')
        script(src='../../assets/vendor/libs/popper/popper.js')
        script(src='../../assets/vendor/js/bootstrap.js')
        script(src='../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js')
        script(src='../../assets/vendor/libs/node-waves/node-waves.js')
        script(src='../../assets/vendor/libs/hammer/hammer.js')
        script(src='../../assets/vendor/libs/i18n/i18n.js')
        script(src='../../assets/vendor/libs/typeahead-js/typeahead.js')
        script(src='../../assets/vendor/js/menu.js')
        // endbuild
        // Vendors JS
        script(src='../../assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js')
        script(src='../../assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js')
        script(src='../../assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js')
        // Main JS
        script(src='../../assets/js/main.js')
        // Page JS
        script(src='../../assets/js/pages-auth.js')
