extend ../layout.jade 
block content
 .content-wrapper
            
  .container-xxl.flex-grow-1.container-p-y
   .row
    .col-md-12
     .card 
      .card-header 
       strong Registered Customers
      .card-body
        table.dataTable-1.table.datatables
                    thead
                      tr  
                        th Fullname
                        th Email
                        th Phone Number
                        
                    tbody
                     each x in users
                      tr 
                        td #{x.first_name} #{x.last_name}
                        td #{x.username}
                        td #{x.phone_number}
                        