extend ../layout.jade 
block content
 .generalPageWrapper.layout--homePageA
  #BeforeMainContainer.beforeMainContainer-inner.column
    .row__container
  #contentrow.row
    #contentiInnerRow.clearfix
      .row__container
        .grid_3
        .grid_9
          #phTopic.topicpage
            .catfish-container
              #phTitle
                .page-title
                  h1 About Us
              .topicpage-body
                .topic__about
                  .topic__header
                    li(style='background-image:url(../-902065898/Handler/CSSOverride/GetImage/2/yellow-watercolor-paper-min.jpg);')
                      .hero-text
                        h1
                          font(color='white')  We are Hatch
                        p
                          font(color='white')
                            | Sustainable vegan printing based in Essex
                            br
                            |                                                             delivering worldwide.
                .topic-rollover
                  .contentblock.left.section
                    .row__container
                      .grid_6.contentblock__img
                        img(alt="Notepad with copy 'we make it simple' in green. Representing Hatch's goal to simplify the ordering process for printed materials. " src='../527802728/Handler/CSSOverride/GetImage/2/we-make-it-simple-hatch.png')
                      .grid_6
                        p.emp(style='margin-top:10px;')
                          | We are a small but mighty
                          | modern online printing company that offers so much more than
                          | your traditional printers.
                        p
                          | We understand that the printing world can be unethical and
                          | complicated and we are here to change that.
                        p
                          | We were the very first printers to be approved by vegetarian
                          | society back in 2018, we also introduced seeded paper to the
                          | printing world influencing others to follow in our footsteps. 
                          a(href='seeded_paper.html')
                            u
                              small
                                | |Click here to find out
                                | more|
                  .simple-slider.section
                    .row__container
                      ul.slides
                        li
                          .simple-slider__title Hatch is Human
                          p.simple-slider__desc
                            | We are a group of experienced
                            | professionals, ready to help you. Need advice? 
                            a(href='contact-hatch-printing-services.html')
                              | Call us or
                              | drop us an email
                            |  and we can discuss options so you
                            |                                                             can decide the best route for you and your business. Got an
                            |                                                             issue? Let us know and we will get it sorted for you – even
                            |                                                             if it means reprinting your order straight away to make
                            |                                                             things right.
                        li
                          .simple-slider__title Hatch is Quality
                          p.simple-slider__desc
                            | Premium quality is standard for
                            | Hatch. We hate poor quality products and strive to achieve
                            | greatness. We constantly review our materials, processes,
                            | and products to refine, reinvent and recreate best solutions
                            | for you.
                        li
                          .simple-slider__title Hatch is Ethical
                          p.simple-slider__desc
                            | None of us can live isolated. We
                            | have the responsibility to look after each other and the
                            | planet, giving us peace of mind that the next generation can
                            | live in a better place. That’s why we offer recycled stocks
                            | as paper options. We also include Habanero chilli seeds in
                            | our 
                            a(href='printed-materials-sample-pack.html')
                              | sample
                              | pack
                            | , just follow the instructions to plant them and
                            |                                                             add more green (and red) to the planet.
                    script.
                      (function () {
                      $(window).load(function () {
                      $('.simple-slider .row__container').flexslider({
                      animation: "fade",
                      touch: true,
                      });
                      });
                      })();
                  .statement__block.section
                    .row__container
                      h3
                        | Not only do we offer eco-friendly, high quality products but we’re
                        | dedicated to achieving outstanding customer satisfaction.
                        br
                        center
                          | We listen, we learn, we adapt.
                          center
                  .contentblock.left.section
                    .row__container
                      .grid_6.contentblock__img
                        img(alt="A green poster that says 'Awesome customer service' in white in a white frame. Poster is on a table next to an unlit white candle, 2 white/brown flowers, a white vase with plant limbs and 4 stacked black books under a clear vase containing 3 scent sticks. Hatch thrives to offer outstanding customer service." src='../251812661/Handler/CSSOverride/GetImage/2/awesome-customer-service-hatch.png')
                      .grid_6
                        p.emp(style='margin-top:10px;')
                          | We want to make things
                          | simple – simple options, simple ordering system, with a simple
                          | delivery process. So, you can have more time for other things
                          | that matter in your business and personal life.
                        p
                          | We also like awesome customer service and offer nothing less than
                          | that; whether you have a question, query or just want to share
                          | your excitement when your printed delights arrive at your door,
                          | you can get in touch by any channel that is convenient to you.
                          | We are here to help through email, live chat or social media.
                          | For those who prefer a personal conversation, just pick up the
                          | phone on a direct line and talk to one of our real-life people!
                          | We want to hear from you. You are also always welcome to our
                          | office, come in for a cuppa and a game of foosball (we like to
                          | think we have that covered to).
                        p
                          | And if time is short – and you need it today, that’s fine: we
                          | teamed up with 
                          a(href='gophr-our-delivery-partner.html') Gophr
                          |  and can
                          |                                                         deliver selected products within an hour or so in London! Boom!
                        p
                          | We’ve got your business printing needs covered: 
                          a(href='business-cards-printing-services.html')
                            | business
                            | cards
                          | , 
                          a(href='flyer-leaflet-printing-services.html') flyers
                          | , 
                          a(href='folded-leaflet-printing-services.html') leaflets
                          | ,
                          a(href='../p/253/roller-banners-printing.html') banners
                          | , 
                          a(href='greeting-card-printing-services.html')
                            | greeting
                            | cards
                          | , 
                          a(href='../p/252/poster-printing.html') posters
                          |  and 
                          a(href='../p/255/booklet-printing.html') brochures
                          |  – all
                          |                                                         high quality as standard; create your own artwork online; easy
                          |                                                         ordering system; clear communication throughout the process and
                          |                                                         convenient delivery.
                        p
                          | We are bold, trendy and connected. If you are just like us –
                          | welcome! Join us… we are here to make a mark.
                  .sample-pack
                    .row__container
                      .grid_6.sample-pack__featureimg
                        img.sample-pack__img(alt='Selection of 5 samples of business cards. 1 yellow, 1 lavender, 1 with red bubbles, 1 pink with a bowl of sweets and 1 featuring a dog. Representing sample packs Hatch offers free of charge.' src='../502931478/Handler/CSSOverride/GetImage/2/SamplePack2021-min.png')
                      .grid_6.sample-pack__right.offset_grid_6
                        h2 Get a free sample pack
                        p
                          | We are proud of the high quality of our products. But don’t take
                          | it from us… order a free sample pack and see for yourself.
                        p
                          | No hidden costs, simply add your address and we will get it in
                          | the post same day.
                        a.sample-pack__link(href='printed-materials-sample-pack.html')
                          | Order sample pack now
        script(type='text/javascript').
          $(document).ready(function () {
          var rawPageName = 'About Us';
          var pageName = rawPageName.replace(/ /g, "_");
          $("html").addClass('topicPage');
          $('body').addClass(pageName);
          });
        #AfterMainContainer.afterMainContainer-inner
          .row__container
            .newsfeed.section
              h2.newsfeed__title.section-heading Our Latest Blog Posts
              .newsfeed__items.row__container
                .newsfeed__item
                  .newsfeed__img
                    img(alt='' src='../-592765259/Handler/Picture/PI/T/0001444.png')
                  .newsfeed__desc Say hello to our seeded paper
                  a.newsfeed__link(href='../blog/41/say-hello-to-our-seeded-paper.html') Read more
                .newsfeed__item
                  .newsfeed__img
                    img(alt='' src='../2028263767/Handler/Picture/PI/T/0001298.png')
                  .newsfeed__desc Hatch X Valeria Rocca
                  a.newsfeed__link(href='../blog/40/hatch-x-valeria-rocca.html')
                    | Read
                    | more
                .newsfeed__item
                  .newsfeed__img
                    img(alt='' src='../-429216974/Handler/Picture/PI/T/0001218.jpg')
                  .newsfeed__desc SHARE IT, PLANT IT, GROW IT!
                  a.newsfeed__link(href='../blog/39/share-it-plant-it-grow-it.html')
                    | Read
                    | more
              script.
                (function () {
                $(document).ready(function () {
                newjQuery('.newsfeed__items').slick({
                infinite: false,
                speed: 300,
                slidesToShow: 1,
                slidesToScroll: 1,
                mobileFirst: true,
                dots: true,
                arrows: false,
                centerMode: true,
                centerPadding: '5%',
                responsive: [{
                breakpoint: 420,
                settings: {
                slidesToShow: 2,
                slidesToScroll: 2,
                dots: true,
                autoplay: true,
                centerMode: false,
                autoplaySpeed: 5000,
                }
                },
                {
                breakpoint: 770,
                settings: {
                slidesToShow: 3,
                slidesToScroll: 3,
                dots: true,
                centerMode: false,
                autoplay: true,
                autoplaySpeed: 5000,
                }
                },]
                });
                });
                })();
            .newsLetterSmallWrapper
              .newsLetterSmall
                .newsLetterSmallInnerWrapper
                  .newsLetterSmallBlock.clearfix
                    .title
                      div E-mail Address
                    .listbox
                      #mc_embed_signup.formItems
                        form#mc-embedded-subscribe-form.validate(action='https://hatchprint.us14.list-manage.com/subscribe/post?u=4e77ca1c6219a1949c2aa2bba&id=962dd864ff' method='post' name='mc-embedded-subscribe-form' target='_blank' novalidate='')
                          div(id='mc_embed_signup_scroll mc-field-group')
                            input#mce-EMAIL.required.email(type='email' value='' name='EMAIL')
                          #mce-responses.clear
                            #mce-error-response.response(style='display:none')
                            #mce-success-response.response(style='display:none')
                          // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                          div(style='position: absolute; left: -5000px;' aria-hidden='true')
                            input(type='text' placeholder='(be part of the tribe)' name='b_4e77ca1c6219a1949c2aa2bba_962dd864ff' tabindex='-1' value='')
                          .buttons
                            input#mc-embedded-subscribe.button(type='submit' value='Subscribe' name='subscribe')
                    script(type='text/javascript' src='http://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
                    script(type='text/javascript').
                      (function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; }(jQuery)); var $mcj = jQuery.noConflict(true);
                    // End mc_embed_signup
            .instagram-feed
              .catfish-container
                script(src='../758310976/Handler/Static/Scripts/instafeed/instafeed.min.js' type='text/javascript')
                h2
                h2 Instagram Feed 
                span @Hatch_Print
                ul.instafeed
                .embedsocial-hashtag(data-ref='86a590f46849303385bc2cd68d4a2081e3f384bf')
                script.
                  (function (d, s, id) { var js; if (d.getElementById(id)) { return; } js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/cdn/ht.js"; d.getElementsByTagName("head")[0].appendChild(js); }(document, "script", "EmbedSocialHashtagScript"));
                script(type='text/javascript').
                  feed.options.target = 'instafeed';
                  feed.options.template = '<li><a href="{{link}}" target="_blank" rel="nofollow noopener"><img src="{{image}}" /></a></li>';
                  window.onload = function () {
                  feed.run();
                  };
