extend ../layout.jade 
block content
 .generalPageWrapper.layout--homePageA
  #BeforeMainContainer.beforeMainContainer-inner.column
    .row__container
  #contentrow.row
    #contentiInnerRow.clearfix
      .row__container
        .grid_3
        .grid_9
          #phTopic.topicpage
            .catfish-container
              #phTitle
                .page-title
                  h1 https://www.hatchprint.co.uk/t/meet-the-paper
              .topicpage-body
                .topic__howitworks
                  .topic__header
                    li(style='background-image:url(../-902065898/Handler/CSSOverride/GetImage/2/yellow-watercolor-paper-min.jpg);')
                      .hero-text
                        h1
                          font(color='white')
                            | A Hitchhiker's guide
                            br
                            | to the world of print
                        font(color='white')
                        p
                          font(color='white')
                            | Simplicity. That’s what we aim for. Simple descriptions to help make selecting the perfect product a breeze.
                  .topic-rollover
                    .stepbystep-rows
                      .row__container
                        .contentblock.right.section
                          .row__container
                            .grid_6.contentblock__img
                              img(alt="2 white business cards out-lined in blue. The left card contains a square in the upper left and copy 'Name here, Job title here' on the right. The other card contains a large upward facing arrow within a circle. It represents the first step when ordering with Hatch: select your product." src='../795003455/Handler/CSSOverride/GetImage/2/150%20Silk-min.jpg')
                            .grid_6.contentblock__content
                              h2 150gsm Recycled Silk 
                              h3 Skinny mini
                              p
                                | This paper is made from 150gsm stock, it comes from recycled things like… That birthday card your never wanted. – It’s basically thicker than a letterhead, but thinner than a postcard. Think
                                | of the Papa Johns take away leaflet you get through your door but slightly thicker (maybe papa should of come to us). The silk finish means a light coating is applied directly to the
                                | paper which protects the paper and ensures colours in your design are bright and eye-catching with a smooth to the touch feel.
                              p This is perfect for hand outs or something that’s going to be folded. 
                              p
                                | Great for any size flyer, including A5 flyers, for example. Or paper aeroplanes, but make sure you recycled them after!
                              p I am also fully recyclable.
                        .contentblock.right.section
                          .row__container
                            .grid_6.contentblock__img
                              img(alt="2 white business cards out-lined in blue. The left card contains a square in the upper left and copy 'Name here, Job title here' on the right. The other card contains a large upward facing arrow within a circle. It represents the first step when ordering with Hatch: select your product." src='../-1162068357/Handler/CSSOverride/GetImage/2/250%20Silk-min.jpg')
                            .grid_6.contentblock__content
                              h2 250gsm Recycled Silk
                              h3 Somewhat the middle man but, never put baby in the corner. 
                              p
                                | This paper is on the cusp of being a card, technically it is but us at Hatch like to play it cool and treat our 250gsm Recycled silk as a super thick paper.
                              p
                                | To get an idea of its thickness… Think of a cheap valentines card from the petrol station and you are pretty much there. Its perfect for handouts, great for being folded but don’t use it
                                | for menus, postcards or… a valentines day card.
                              p
                                | This paper is made from recycled elements, unwanted Christmas cards, dreaded bank statements and other printers unwanted sample packs :) (cheeky)
                              p I am also fully recyclable.
                        .contentblock.right.section
                          .row__container
                            .grid_6.contentblock__img
                              img(alt="2 white business cards out-lined in blue. The left card contains a square in the upper left and copy 'Name here, Job title here' on the right. The other card contains a large upward facing arrow within a circle. It represents the first step when ordering with Hatch: select your product." src='../-1921583240/Handler/CSSOverride/GetImage/2/350%20Silk-min.jpg')
                            .grid_6.contentblock__content
                              h2 350gsm Recycled Silk
                              h3 Strong,smooth and…. single? 
                              p Let us introduce you to our heavy weight. 
                              p
                                | This stock is 350gsm in weight. If you aren’t a paper sales person that will mean nothing so.. let us explain.
                              p
                                | This recycled card is thicker than an average postcard but, slightly thinner than our standard business card. The smooth silky finish that makes colours ultra-bright but not too shiny, its
                                | perfect to make your design ‘pop’, even on the smaller sizes like A7 flyers.
                              p
                                | We think this is perfect for menus, postcards, invites and folded price lists. If you really want to add that ooh lala effect add a lamination to each side. This will make the card even thicker
                                | and give it a really really really nice feel when you touch it.
                              p This card comes from sustainable and recycled sources.
                              p I am also fully recyclable.
                        .contentblock.right.section
                          .row__container
                            .grid_6.contentblock__img
                              img(alt="2 white business cards out-lined in blue. The left card contains a square in the upper left and copy 'Name here, Job title here' on the right. The other card contains a large upward facing arrow within a circle. It represents the first step when ordering with Hatch: select your product." src='../1605218512/Handler/CSSOverride/GetImage/2/280%20Seed-min.jpg')
                            .grid_6.contentblock__content
                              h2 280gsm Seeded
                              h3 Plantable flyers... Yes, you can plant them! 
                              p
                                | This eco-friendly paper has seeds in it – not kidding! More than environmentally-friendly and fully compostable, this paper is plantable and your marketing flyers could become a beautiful
                                | bed of flowers.
                              p
                                | With 280gsm thickness, it’s similar to a greetings card as the seeds add a bulkiness to the card which makes it ideal for flyers and invitations. Get it printed using Hatch’s vegan processes,
                                | for full colour, single or double sided, attention-grabbing flyers.
                              p
                                | This paper is hand made and hand printed so just like mother nature herself these flyers aren't always perfect and can have a little movement when printed and can be a tiny bit bigger or
                                | smaller due to the nature of production.
                              p  Wedding invites look awesome… you’ve been told.
                              p I am also fully recyclable.
                        .contentblock.right.section
                          .row__container
                            .grid_6.contentblock__img
                              img(alt="2 white business cards out-lined in blue. The left card contains a square in the upper left and copy 'Name here, Job title here' on the right. The other card contains a large upward facing arrow within a circle. It represents the first step when ordering with Hatch: select your product." src='../-721863725/Handler/CSSOverride/GetImage/2/140%20Pulp-min.jpg')
                            .grid_6.contentblock__content
                              h2 140gsm Pulp
                              h3 A eco uncoated paper made from recycled materials 
                              p
                                | This is an eco-friendly paper which has an eco-friendly look. It has no coating on the surface so, misses out a process in the paper production cycle. This results in the paper having a slightly
                                | rough feel to it. The same sort of feel you would have on a really posh letter…
                              p
                                | This card is created with recycled materials… School reports and post it notes . Its thickness is similar to a bank statement.
                              p
                                | Remember solid colours won't look as vibrant on this stock as they sink into the uncoated surface giving it that ‘recycled looked.
                              p At roughly 140gsm this paper is great for handouts and folded leaflets.
                              p I am also fully recyclable.
                        .contentblock.right.section
                          .row__container
                            .grid_6.contentblock__img
                              img(alt="2 white business cards out-lined in blue. The left card contains a square in the upper left and copy 'Name here, Job title here' on the right. The other card contains a large upward facing arrow within a circle. It represents the first step when ordering with Hatch: select your product." src='../-1130307413/Handler/CSSOverride/GetImage/2/380%20Pulp-min.jpg')
                            .grid_6.contentblock__content
                              h2  380mic Pulp
                              h3 A eco uncoated card made from recycled materials 
                              p
                                | Pulp… This is an eco-friendly card which has an eco-friendly look. It has no coating on the surface so, misses out a process in the paper production cycle. This results in the paper having
                                | a slightly rough feel to it. The same sort of feel you would have on a really posh letter.
                              p
                                | This card is created with recycled materials.. anything from old toilet rolls to train tickets. Its thickness is similar to a postcard and because it doesn’t have the silk coating like the
                                | rest of our range doesn’t have a really bright white finish.
                              p
                                | Remember solid colours won't look as vibrant on this stock as they sink into the uncoated surface giving it that ‘recycled looked’
                              p
                                | This stock is perfect for handouts, invites, price lists and menus that need that more earth natural feel.
                              p I am also fully recyclable.
                        .contentblock.right.section
                          .row__container
                            .grid_6.contentblock__img
                              img(alt="2 white business cards out-lined in blue. The left card contains a square in the upper left and copy 'Name here, Job title here' on the right. The other card contains a large upward facing arrow within a circle. It represents the first step when ordering with Hatch: select your product." src='../777871737/Handler/CSSOverride/GetImage/2/KRAFT-min.jpg')
                            .grid_6.contentblock__content
                              h2 400gsm Kraft
                              h3 Hand-made look with superior quality 
                              p
                                | A great first impression can go further than you'd imagine and this option of paper ticks all the boxes for achieving just that. Our 400gsm kraft selection is a heavy, thick brown card that
                                | offers high quality and durability. Your custom business card will have a vintage, hand-made, shabby chic feel with lasting effect.
                        .contentblock.right.section
                          .row__container
                            .grid_6.contentblock__img
                              img(alt="2 white business cards out-lined in blue. The left card contains a square in the upper left and copy 'Name here, Job title here' on the right. The other card contains a large upward facing arrow within a circle. It represents the first step when ordering with Hatch: select your product." src='../-1320162086/Handler/CSSOverride/GetImage/2/RECYCLED-min.jpg')
                            .grid_6.contentblock__content
                              h2 400gsm Recycled
                              h3 Unique look with 100% recycled, 100% ethical paper
                              p
                                | Business cards made from used paper cups… yes, that’s right… Through ingenious recycling method, G F Smith transforms disposable coffee cups into beautiful paper and we convert it into your
                                | personalised business cards. This 400gsm stock is strong and ideal for businesses looking for ethical printed materials that will make a positive impression. Due to its recycled nature,
                                | this paper is slight off white.
                        .contentblock.right.section
                          .row__container
                            .grid_6.contentblock__img
                              img(alt="2 white business cards out-lined in blue. The left card contains a square in the upper left and copy 'Name here, Job title here' on the right. The other card contains a large upward facing arrow within a circle. It represents the first step when ordering with Hatch: select your product." src='../-2005400666/Handler/CSSOverride/GetImage/2/PREMIUM-min.jpg')
                            .grid_6.contentblock__content
                              h2 400gsm Premium
                              h3 Professional look with a velvety feel
                              p
                                | Make your business cards stand out amongst the competition with not only an awesome design but with a soft to the touch texture. Our Premium line is made of 400gsm stock, a strong and resistant
                                | card, with a subtle coating that provides a special texture to your premium business card. This velvety soft touch lamination is applied on both sides of your card, improving quality
                                | and making vibrant colours stand out! What’s more, it’s environmentally friendly and finger print resistant. If you are looking for a sophisticated option with a tactile appeal, this
                                | is the right choice for you.
                        .contentblock.right.section
                          .row__container
                            .grid_6.contentblock__img
                              img(alt="2 white business cards out-lined in blue. The left card contains a square in the upper left and copy 'Name here, Job title here' on the right. The other card contains a large upward facing arrow within a circle. It represents the first step when ordering with Hatch: select your product." src='../-429426625/Handler/CSSOverride/GetImage/2/CREATIVE-min.jpg')
                            .grid_6.contentblock__content
                              h2 540gsm Creative
                              h3 Impactful look with a trendy twist
                              p
                                | If you really want to stand out from the crowd with a creative business card, this is the right choice for you. Weighting 540gsm, this is a firm and robust card, ideal to make a bold statement.
                                | You can choose from a selection of colours and we can print with CMYK or white ink. Let your imagination run wild and share the fire in your belly through your business cards.
                        .contentblock.right.section
                          .row__container
                            .grid_6.contentblock__img
                              img(alt="2 white business cards out-lined in blue. The left card contains a square in the upper left and copy 'Name here, Job title here' on the right. The other card contains a large upward facing arrow within a circle. It represents the first step when ordering with Hatch: select your product." src='../623099721/Handler/CSSOverride/GetImage/2/ULTRATHICK-min.jpg')
                            .grid_6.contentblock__content
                              h2 810gsm Ultra Thick
                              h3 Edgy look with luxurious feel
                              p
                                | Looking for a feature to set you apart? Look no further. This 810gsm card offers a stylish detail as a trendy differential for cool business cards: colour seams. Choose the shade that best
                                | suits your brand and let it speak for itself. This paper is made from premium 810gsm stock offering a non-fold, resistant card.
                        .contentblock.right.section
                          .row__container
                            .grid_6.contentblock__img
                              img(alt="2 white business cards out-lined in blue. The left card contains a square in the upper left and copy 'Name here, Job title here' on the right. The other card contains a large upward facing arrow within a circle. It represents the first step when ordering with Hatch: select your product." src='../-2129204000/Handler/CSSOverride/GetImage/2/LUXE-min.jpg')
                            .grid_6.contentblock__content
                              h2 540gsm Luxe
                              h3 Sophisticated look, full of personality
                              p
                                | Our Luxe line is made of 540gsm stock, a thick and resistant paper produced by the well-established GF Smith brand. This paper colour is white frost; a sophisticated, yet full of personality
                                | white shade that will set you apart. Combine that with Hatch’s quality printing services, the end result is a business card that will give your brand a superior look and feel.
                        .contentblock.right.section
                          .row__container
                            .grid_6.contentblock__img
                              img(alt="2 white business cards out-lined in blue. The left card contains a square in the upper left and copy 'Name here, Job title here' on the right. The other card contains a large upward facing arrow within a circle. It represents the first step when ordering with Hatch: select your product." src='../-1519565870/Handler/CSSOverride/GetImage/2/1d22a094-722e-4baf-b7bc-1715ed49b68a-min.JPG')
                            .grid_6.contentblock__content
                              h2 400gsm Grass
                              h3 Sometimes the grass is greener...
                              p An impressively vivid green card made from Bavarian grass cuttings. 
                              p Yes….bonkers. 
                              p
                                | This bulky card is thicker than your average greetings card or postcard but, thinner than the packing of your amazon delivery.
                              p
                                | Weighing in at roughly 350gsm/400gsm and surprisingly thick this super textured card is perfect for those green fingered business cards or ultra vivid, ultra textured wedding invites.
                              p  It even smells of fresh grass cuttings. 
                              p
                                | This paper was created with the conservation of natural resources and environmental responsibility. Grass is a rapid growing fibre which is a perfect replacement for virgin wood fibres.
                        .contentblock.right.section
                          .row__container
                            .grid_6.contentblock__img
                              img(alt="2 white business cards out-lined in blue. The left card contains a square in the upper left and copy 'Name here, Job title here' on the right. The other card contains a large upward facing arrow within a circle. It represents the first step when ordering with Hatch: select your product." src='../-97649662/Handler/CSSOverride/GetImage/2/GREY_BLOC-min.jpg')
                            .grid_6.contentblock__content
                              h2 GreyBloc
                              h3 Smooth Banner Stock
                              p
                                | Our GreyBloc material is made from a PET plastic film which comes from recycled plastic pellets which is machined into a film, its white to one side (the print side) and on the reverse is a Grey backing this stops light showing through to ensure your
                                | artwork prints with vivid colours. This paper is around 180gsm, it can't be torn so you can be safe in the knowledge that your artwork will stand the test of time. Its a mute white so
                                | doesn't have a shine, its water proof and once printed the image is also water proof so out in out you wont be disapointed.
                        // BUSINESS CARD OPTIONS
                        // Reasons to buy section
                        .reasonstobuy.grey.section
                          .row__container
                            img.section-heading(alt="Reasons to buy' written in blue tex with a different font style for each word. Title to a section explaining reasons to order printed materials from Hatch." src='../493930120/Handler/CSSOverride/GetImage/2/reasons-to-buy-hatch.png')
                            .reasonstobuy__nav
                            .reasonstobuy__slider
                              ul.slides
                                li(data-thumb='../1903355137/Handler/CSSOverride/GetImage/2/list.svg')
                                  .reasonstobuy__mobile-img
                                    img(alt='' src='../1903355137/Handler/CSSOverride/GetImage/2/list.svg')
                                  .reasonstobuy__title Practical approach to make your life easier 
                                  .reasonstobuy__desc
                                    | We like to keep things simple. That's why we offer a simple ordering process, with an easy to use system, no hidden costs and tracked delivery.
                                li(data-thumb='../2014116030/Handler/CSSOverride/GetImage/2/innovative-ideas-hatch.svg')
                                  .reasonstobuy__mobile-img
                                    img(alt='Blue-outlined circle with a blue-outlined lightbulb. Representing innovative products available at Hatch.' src='../2014116030/Handler/CSSOverride/GetImage/2/innovative-ideas-hatch.svg')
                                  .reasonstobuy__title Innovative ideas to make you stand out 
                                  .reasonstobuy__desc
                                    | We know how competitive the market can be – and are here to help your business grow. With our professionally printed materials, you are sure to stand out from the crowd and make an
                                    | impact.
                                li(data-thumb='../-788608596/Handler/CSSOverride/GetImage/2/plant-a-tree-hatch.svg')
                                  .reasonstobuy__mobile-img
                                    img(alt="Blue outline of a hand holding a small, freshly sprouted seed within a circle. Representing Hatch's environmentally friendly business practises. " src='../-788608596/Handler/CSSOverride/GetImage/2/plant-a-tree-hatch.svg')
                                  .reasonstobuy__title Ethical practice, doing our part 
                                  .reasonstobuy__desc
                                    | Caring for the planet is one of our key priorities. That's why we ensure we also offer recycled paper as options for your design to be printed on, creating awesome and sustainable
                                    | communication materials.
                                li(data-thumb='../1405733292/Handler/CSSOverride/GetImage/2/create-your-own-hatch.svg')
                                  .reasonstobuy__mobile-img
                                    img(alt='Blue-outlined image of a computer monitor with a large pencil drawing over the monitor inside a circle. You can create your own design online with Hatch.' src='../1405733292/Handler/CSSOverride/GetImage/2/create-your-own-hatch.svg')
                                  .reasonstobuy__title Best design tool on the web 
                                  .reasonstobuy__desc
                                    | Your printed materials are the best marketing tool to grow your business. Our easy-to-use online tool allows you to create amazing designs hassle-free.
                              a.reasonstobuy__link(href='why-choose-hatch-printing-services.html') Find out more
                          script.
                            (function() {
                            function createActiveSlide(slider) {
                            $(".reasonstobuy__nav").find(".hatch-active").removeClass("hatch-active");
                            $(".reasonstobuy__nav").find(".flex-active").parent().addClass("hatch-active");
                            }
                            $(window).load(function() {
                            $('.reasonstobuy__slider').flexslider({
                            animation: "fade",
                            touch: true,
                            controlNav: "thumbnails",
                            controlsContainer: ".reasonstobuy__nav",
                            slideshow: true,
                            start: createActiveSlide,
                            after: createActiveSlide
                            });
                            });
                            })();
                        script.
                          (function() { // Can also be used with $(document).ready() function createActiveSlide(slider) { $(".reasonstobuy__nav").find(".hatch-active").removeClass("hatch-active"); $(".reasonstobuy__nav").find(".flex-active").parent().addClass("hatch-active"); } $(window).load(function () { $('.reasonstobuy__slider').flexslider({ animation: "fade", touch: true, controlNav: "thumbnails", controlsContainer: ".reasonstobuy__nav", slideshow: false, start: createActiveSlide, after: createActiveSlide }); }); })();
              script(type='text/javascript').
                $(document).ready(function() {
                var rawPageName = 'meet-the-paper.html';
                var pageName = rawPageName.replace(/ /g, "_");
                $("html").addClass('topicPage');
                $('body').addClass(pageName);
                });
              #AfterMainContainer.afterMainContainer-inner
                .row__container
                  .newsfeed.section
                    h2.newsfeed__title.section-heading Our Latest Blog Posts
                    .newsfeed__items.row__container
                      .newsfeed__item
                        .newsfeed__img
                          img(alt='' src='../-592765259/Handler/Picture/PI/T/0001444.png')
                        .newsfeed__desc Say hello to our seeded paper
                        a.newsfeed__link(href='../blog/41/say-hello-to-our-seeded-paper.html') Read more
                      .newsfeed__item
                        .newsfeed__img
                          img(alt='' src='../2028263767/Handler/Picture/PI/T/0001298.png')
                        .newsfeed__desc Hatch X Valeria Rocca
                        a.newsfeed__link(href='../blog/40/hatch-x-valeria-rocca.html') Read more
                      .newsfeed__item
                        .newsfeed__img
                          img(alt='' src='../-429216974/Handler/Picture/PI/T/0001218.jpg')
                        .newsfeed__desc SHARE IT, PLANT IT, GROW IT!
                        a.newsfeed__link(href='../blog/39/share-it-plant-it-grow-it.html') Read more
                    script.
                      (function() {
                      $(document).ready(function() {
                      newjQuery('.newsfeed__items').slick({
                      infinite: false,
                      speed: 300,
                      slidesToShow: 1,
                      slidesToScroll: 1,
                      mobileFirst: true,
                      dots: true,
                      arrows: false,
                      centerMode: true,
                      centerPadding: '5%',
                      responsive: [{
                      breakpoint: 420,
                      settings: {
                      slidesToShow: 2,
                      slidesToScroll: 2,
                      dots: true,
                      autoplay: true,
                      centerMode: false,
                      autoplaySpeed: 5000,
                      }
                      },
                      {
                      breakpoint: 770,
                      settings: {
                      slidesToShow: 3,
                      slidesToScroll: 3,
                      dots: true,
                      centerMode: false,
                      autoplay: true,
                      autoplaySpeed: 5000,
                      }
                      },
                      ]
                      });
                      });
                      })();
                  .newsLetterSmallWrapper
                    .newsLetterSmall
                      .newsLetterSmallInnerWrapper
                        .newsLetterSmallBlock.clearfix
                          .title
                            div E-mail Address
                          .listbox
                            #mc_embed_signup.formItems
                              form#mc-embedded-subscribe-form.validate(action='https://hatchprint.us14.list-manage.com/subscribe/post?u=4e77ca1c6219a1949c2aa2bba&id=962dd864ff' method='post' name='mc-embedded-subscribe-form' target='_blank' novalidate='')
                                div(id='mc_embed_signup_scroll mc-field-group')
                                  input#mce-EMAIL.required.email(type='email' value='' name='EMAIL')
                                #mce-responses.clear
                                  #mce-error-response.response(style='display:none')
                                  #mce-success-response.response(style='display:none')
                                // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                                div(style='position: absolute; left: -5000px;' aria-hidden='true')
                                  input(type='text' placeholder='(be part of the tribe)' name='b_4e77ca1c6219a1949c2aa2bba_962dd864ff' tabindex='-1' value='')
                                .buttons
                                  input#mc-embedded-subscribe.button(type='submit' value='Subscribe' name='subscribe')
                          script(type='text/javascript' src='http://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
                          script(type='text/javascript').
                            (function($) {
                            window.fnames = new Array();
                            window.ftypes = new Array();
                            fnames[0] = 'EMAIL';
                            ftypes[0] = 'email';
                            }(jQuery));
                            var $mcj = jQuery.noConflict(true);
                          // End mc_embed_signup
                  .instagram-feed
                    .catfish-container
                      script(src='../758310976/Handler/Static/Scripts/instafeed/instafeed.min.js' type='text/javascript')
                      h2
                      h2 Instagram Feed 
                      span @Hatch_Print
                      ul.instafeed
                      .embedsocial-hashtag(data-ref='86a590f46849303385bc2cd68d4a2081e3f384bf')
                      script.
                        (function(d, s, id) {
                        var js;
                        if (d.getElementById(id)) {
                        return;
                        }
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "https://embedsocial.com/cdn/ht.js";
                        d.getElementsByTagName("head")[0].appendChild(js);
                        }(document, "script", "EmbedSocialHashtagScript"));
                      script(type='text/javascript').
                        feed.options.target = 'instafeed';
                        feed.options.template = '<li><a href="{{link}}" target="_blank" rel="nofollow noopener"><img src="{{image}}" /></a></li>';
                        window.onload = function() {
                        feed.run();
                        };
