extend ../layout.jade 
block content
 .generalPageWrapper.layout--homePageA
  #BeforeMainContainer.beforeMainContainer-inner.column
    .row__container
  #contentrow.row
    #contentiInnerRow.clearfix
      .row__container
        .grid_3
        .grid_9
          #phTopic.topicpage
            .catfish-container
              .topicpage-body
                .topic__howitworks
                  .topic__header
                    li(style='background-image:url(../-902065898/Handler/CSSOverride/GetImage/2/yellow-watercolor-paper-min.jpg);')
                      .hero-text
                        h1
                          font(color='white') Environmentally-friendly initiatives
                        font(color='white')
                        p
                          font(color='white') Conscious decisions that make us a green business
                  .topic-rollover
                    .section
                      .row__container
                        p(style='margin-top:10px;')
                          | Our promise is to offer you the best printing quality in the market. But it doesn’t mean we need to sacrifice our beliefs to achieve this. We believe each person makes their own choices about how they live in society and interact with their surroundings.
                        p
                          | We care for the planet - we see how beautiful nature is and we want to help preserve it. That’s why we make conscious decisions about how we run our business, ensuring we are as environmentally-friendly as possible.
                        p
                          | To prove that we don’t just talk the talk, but we walk the walk too, we’ve gathered some of our initiatives towards being a green business below:
                        // Vegetarian Society Vegan Approved
                        p.emp(style='margin-top:40px;') Vegetarian Society Approved vegan products
                        .row__container
                          .grid_4
                            img(src='../-1022721228/Handler/CSSOverride/GetImage/2/vegetarian-society-approved.jpg')
                          .grid_8
                            p
                              a(href='../blog/26/vegetarian-society-vegan-approved-products.html')
                                | We are extremely proud to say that Hatch is the UK’s first printer to hold the Vegetarian Society Approved vegan accreditation.
                              |  That’s a massive achievement for us and for the printing industry – and we do hope that others will follow suit, pushing the whole trade to be more protective of animals.
                            p
                              | Before the Vegetarian Society evaluated us to ensure we met all the necessary requirements to receive the stamp, we undertook a comprehensive self-assessment.
                            p
                              | We worked with our suppliers to check and follow every product we offer and every process we have in place, from paper and ink to packaging, glue and tape… we went right back to the source, investigating each link of our supply chain to ensure every product we purchase, and in turn supply to our customers, is free of all animal-products.
                        .quote
                          | Gary Toomey, managing director and founder, says:
                          .quote-mark.left “
                          | Surely if one company can produce something without having to use animal products, why can’t everyone else?
                          .quote-mark.right ”
                        br
                        // FSC Accredited Paper
                        p.emp(style='margin-top:10px;') Recycled paper stock 
                        .row__container
                          .grid_4
                            img(src='../-1864568103/Handler/CSSOverride/GetImage/2/recycled-paper-stock.jpg')
                          .grid_8
                            p
                              | We are always on the lookout for sustainable paper alternatives and offer a range of recycled stocks that ensure your materials will not only be environmentally-friendly but also look unique.
                            p
                              | Kraft paper: Pick this paper option by selecting Kraft and give your business card design that hand-made look with superior quality.
                            p
                              | 440mic Extract: Through innovative recycling method, G F Smith transforms disposable coffee cups into cool paper and we print your design on it to create uniquely awesome business cards. Select Recycled as paper type for this stock.
                            p
                              | 380mic Pulp: When printing your flyers on this paper, made of 100% pulp board sourced from sustainable forests, they will have a stylish vintage look and feel.
                        .quote
                          | Gary Toomey says:
                          .quote-mark.left “
                          | We can use more natural resources or recycle materials we already have, giving them new life and purpose. To us, the answer is simple.
                          .quote-mark.right ”
                        br
                        // CO2 Neutral Press
                        p.emp(style='margin-top:10px;') CO2 Neutral Press
                        p
                          | This is all about reducing the impact we have on the environment and ensuring we don’t contribute to the planet’s climate changes.
                        p
                          | Our climate neutral machinery neutralises the amount of CO2 produced during the printing process. This minimises our emissions and reduces our carbon footprint – as we explored in our blog post 
                          a(href='../blog/14/print-your-way-to-a-greener-london-with-hatch.html') Print your way into a greener London
                          | .
                        .quote
                          | Gary Toomey says:
                          .quote-mark.left “
                          | Global warming is happening right now and although some of its consequences are already taking place, major changes are yet to be seen. We need to do something about it before it’s too late... Choosing green technologies is a part of our ecological responsibility.
                          .quote-mark.right ”
                        br
                        // LED Lighting
                        p.emp(style='margin-top:10px;') LED Lighting
                        p
                          | Hatch’s factory is equipped with LED lighting – an eco-friendly alternative compared to traditional lighting.
                        p
                          | They offer high energy efficiency and could save up to 80% energy output. They also have a longer life span, meaning lower carbon emissions and fewer bulb changes, resulting in less waste. Another advantage is that LED lights contain no toxic chemicals, such as mercury, making it a safe option for domestic and commercial use and for the ecosystem.
                        p
                          | Besides the environmental benefits, our lights are intelligent and fitted with movement sensors. This means they automatically dim down and turn off when Hatch’s employees leave for the day.
                        .quote
                          | Gary Toomey says:
                          .quote-mark.left “
                          | Besides our products and processes, we need to think about the building we are in, which becomes our home for most of the day and how we can make it eco-friendly – that’s why we opted for LED lighting.
                          .quote-mark.right ”
                        br
                        // Recycling
                        p.emp(style='margin-top:10px;') Recycling
                        p
                          | You send us your design and we make it into what you need to promote your brand, be it business cards, roller banners or folders. Now, you may be wondering what happens to the bits that weren’t transformed into your awesome printed materials – the trimmed pieces of paper, the empty glue bottles, the unused cardboard… well, the answer is: we recycle them all.
                        p
                          | They may not have made the final cut to become a part of your beautiful stationery, but they will be transformed into something else just as awesome… we separate our waste into different recycling types and ensure they don’t end up in landfills, but are properly disposed and ready for recycling.
                        .quote
                          | Gary Toomey says:
                          .quote-mark.left “
                          | The left over is just as important as the final product. With recycling techniques, anything can be transformed into something useful, and we want to help that happen.
                          .quote-mark.right ”
                        br
                        // Gophr
                        p.emp(style='margin-top:10px;') Gophr
                        .row__container
                          .grid_4
                            img(src='../-583148768/Handler/CSSOverride/GetImage/2/gophr-environmental-logo.jpg')
                          .grid_8
                            p
                              | We are not only careful about what happens in our factory, but also how our products get to you. Besides offering a fast delivery service that doesn’t compromise on quality, 
                              a(href='gophr-our-delivery-partner.html') Gophr employs two-wheeled-pedal-powered delivery pros
                              |  who can guarantee to get your order in your hands in no time and also with no emissions and no pollution – it’s for sure a green delivery option.
                            p
                              | That’s exactly why we’ve partnered with them and are proud to offer same day delivery services in London on selected products.
                        .quote
                          | Gary Toomey says:
                          .quote-mark.left “
                          | We completed the journey, assessing suppliers before their products get to us, then ensuring our in-house processes are as sustainable as possible, and lastly, but not least, offering a green option for our products to be delivered to our customers.
                          .quote-mark.right ”
                        br
                        // Gary Toomey
                        p.emp(style='margin-top:10px;') Gary Toomey
                        p
                          | The passion for creating an environmentally-friendly business with sustainably sourced products and green processes comes from the top. Gary Toomey is Hatch’s Founder, a vegetarian, animal lover and future generation carer.
                        .quote
                          | He says:
                          .quote-mark.left “
                          | I haven't done this just for a bit of marketing, I do 100% care about this subject and I think if we can be part of it, it helps push the life style and life choice movement, gives people a choice when shopping and is just good for the movement in general.
                          .quote-mark.right ”
                        br
                        p(style='margin-top:10px;')
                          | Check our 
                          a(href='../index.html') range of products
                          |  and order your printed materials with Hatch today.
                style.
                  .quote {
                  background-color: #eeeeee;
                  padding: 35px;
                  font-size: 18px;
                  border-radius: 8px;
                  }
                  .quote-mark.right {
                  font-size: 45px;
                  float: right;
                  line-height: 75px;
                  }
                  .quote-mark.left {
                  font-size: 45px;
                  float: left;
                  margin-left: -20px;
                  line-height: 15px;
                  }
          script(type='text/javascript').
            $(document).ready(function() {
            var rawPageName = '';
            var pageName = rawPageName.replace(/ /g, "_");
            $("html").addClass('topicPage');
            $('body').addClass(pageName);
            });
          #AfterMainContainer.afterMainContainer-inner
            .row__container
              .newsfeed.section
                h2.newsfeed__title.section-heading Our Latest Blog Posts
                .newsfeed__items.row__container
                  .newsfeed__item
                    .newsfeed__img
                      img(alt='' src='../-592765259/Handler/Picture/PI/T/0001444.png')
                    .newsfeed__desc Say hello to our seeded paper
                    a.newsfeed__link(href='../blog/41/say-hello-to-our-seeded-paper.html') Read more
                  .newsfeed__item
                    .newsfeed__img
                      img(alt='' src='../2028263767/Handler/Picture/PI/T/0001298.png')
                    .newsfeed__desc Hatch X Valeria Rocca
                    a.newsfeed__link(href='../blog/40/hatch-x-valeria-rocca.html') Read more
                  .newsfeed__item
                    .newsfeed__img
                      img(alt='' src='../-429216974/Handler/Picture/PI/T/0001218.jpg')
                    .newsfeed__desc SHARE IT, PLANT IT, GROW IT!
                    a.newsfeed__link(href='../blog/39/share-it-plant-it-grow-it.html') Read more
                script.
                  (function() {$(document).ready(function() {
                  newjQuery('.newsfeed__items').slick({
                  infinite: false,
                  speed: 300,
                  slidesToShow: 1,
                  slidesToScroll: 1,
                  mobileFirst: true,
                  dots: true,
                  arrows: false,
                  centerMode: true,
                  centerPadding: '5%',
                  responsive: [{
                  breakpoint: 420,
                  settings: {
                  slidesToShow: 2,
                  slidesToScroll: 2,
                  dots: true,
                  autoplay: true,
                  centerMode: false,
                  autoplaySpeed: 5000,
                  }
                  },
                  {
                  breakpoint: 770,
                  settings: {
                  slidesToShow: 3,
                  slidesToScroll: 3,
                  dots: true,
                  centerMode: false,
                  autoplay: true,
                  autoplaySpeed: 5000,
                  }
                  }, ]
                  });
                  });
                  })();
              .newsLetterSmallWrapper
                .newsLetterSmall
                  .newsLetterSmallInnerWrapper
                    .newsLetterSmallBlock.clearfix
                      .title
                        div E-mail Address
                      .listbox
                        #mc_embed_signup.formItems
                          form#mc-embedded-subscribe-form.validate(action='https://hatchprint.us14.list-manage.com/subscribe/post?u=4e77ca1c6219a1949c2aa2bba&id=962dd864ff' method='post' name='mc-embedded-subscribe-form' target='_blank' novalidate='')
                            div(id='mc_embed_signup_scroll mc-field-group')
                              input#mce-EMAIL.required.email(type='email' value='' name='EMAIL')
                            #mce-responses.clear
                              #mce-error-response.response(style='display:none')
                              #mce-success-response.response(style='display:none')
                            // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                            div(style='position: absolute; left: -5000px;' aria-hidden='true')
                              input(type='text' placeholder='(be part of the tribe)' name='b_4e77ca1c6219a1949c2aa2bba_962dd864ff' tabindex='-1' value='')
                            .buttons
                              input#mc-embedded-subscribe.button(type='submit' value='Subscribe' name='subscribe')
                      script(type='text/javascript' src='http://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
                      script(type='text/javascript').
                        (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);
                      // End mc_embed_signup
              .instagram-feed
                .catfish-container
                  script(src='../758310976/Handler/Static/Scripts/instafeed/instafeed.min.js' type='text/javascript')
                  h2
                  h2 Instagram Feed 
                  span @Hatch_Print
                  ul.instafeed
                  .embedsocial-hashtag(data-ref='86a590f46849303385bc2cd68d4a2081e3f384bf')
                  script.
                    (function(d, s, id){var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/cdn/ht.js"; d.getElementsByTagName("head")[0].appendChild(js);}(document, "script", "EmbedSocialHashtagScript"));
                  script(type='text/javascript').
                    feed.options.target = 'instafeed';
                    feed.options.template = '<li><a href="{{link}}" target="_blank" rel="nofollow noopener"><img src="{{image}}" /></a></li>';
                    window.onload = function() {
                    feed.run();
                    };
