extend ../layout.jade 
block content
 .content-wrapper
            
            .container-xxl.flex-grow-1.container-p-y
              .row
                // Website Analytics
                
                .col-lg-3.col-md-6.col-sm-6.mb-4
                  .card
                    .card-body.pb-0
                      .card-icon
                        span.badge.bg-label-success.rounded-pill.p-2
                          i.ti.ti-credit-card.ti-sm
                      h5.card-title.mb-0.mt-2 97.5k
                      small Revenue Generated.
                    #revenueGenerated
                // / Revenue Generated
                // Earning Reports
                
                
                // Sales By Country
                
                .col-12.col-xl-4.mb-4.col-md-6
                
                .content-backdrop.fade
          