extend ../layout.jade 
block content
 .generalPageWrapper.layout--homePageA
  #BeforeMainContainer.beforeMainContainer-inner.column
    .row__container
  #contentrow.row
    #contentiInnerRow.clearfix
      .row__container
        .grid_3
        .grid_9
          #phTopic.topicpage
            .catfish-container
              .topicpage-body
                .topic__about
                  .topic__header
                    li(style='background-image:url(../1388913056/Handler/CSSOverride/GetImage/2/privacy-policy.png);')
                      .hero-text
                        h1 Free templates guides
                        p
                          | Are you looking to create new marketing materials to promote your business? That’s awesome! We are here to make sure your printed design looks as good as you’re intending.
                        p
                          | To make life easier, we’ve put together a free-to-download template for each of our products, with product size, trim marks and bleed areas. This way, you can let your creativity fly, knowing your artwork ticks all the boxes to ensure your print does your design justice.
                  .topic-rollover
                    .contentblock.left.section
                      .row__container
                        .grid_3
                          ul.template_menu
                            li.link-border Roller Banners
                            li Business Cards
                            li Folded Leaflets
                            li Greetings Cards
                            li Leaflet & Flyers
                            li Folders
                            li Flags
                            // <li>Folders</li>
                        .grid_9
                          ul.template_content
                            li
                              .row
                                .template_paragraph
                                  | Roller banners are a practical way to promote your brand. Easy-to-transport and set up, they can be displayed anywhere, from shop floors and event booths to reception areas and even table tops. With our range of five sizes, you are sure to find the perfect one for your budget and the space you have available. Download a free template and design a roller banner that is as impactful as it is functional.
                                .grid_12
                                  .grid_6
                                    a(href='../823473574/Handler/CSSOverride/GetImage/2/800x2000mm_Roller_Banner.ai' target='_blank')
                                      button.large-button-green 800x2000mm
                                  .grid_6
                                    a(href='../1802700823/Handler/CSSOverride/GetImage/2/1000x2000mm_Roller_Banner.ai' target='_blank')
                                      button.large-button-green 1000x2000mm
                                .grid_12
                                  .grid_6
                                    a(href='../-733596784/Handler/CSSOverride/GetImage/2/1500x2000mm_Roller_Banner.ai' target='_blank')
                                      button.large-button-green 1500x2000mm
                                  .grid_6
                                    a(href='../1421621079/Handler/CSSOverride/GetImage/2/A3_Desktop_Roller_Banner.ai' target='_blank')
                                      button.large-button-green A3
                                .grid_12
                                  .grid_6
                                    a(href='../-699093326/Handler/CSSOverride/GetImage/2/A4_Desktop%20_Roller_Banner.ai' target='_blank')
                                      button.large-button-green A4
                            li
                              .row
                                .template_paragraph
                                  | Business cards are more than a piece of paper with your contact information; they represent your brand. Quality design and print are essential to make a positive impression. Don’t settle for decent business card, strive for greatness – download one of our templates, create your artwork and be ready to impress.
                                  br
                                  | Note: our business cards are trimmed to 85x55mm.
                                .grid_6
                                  .template_title Landscape
                                  .grid_6
                                    a(href='../-1550079417/Handler/CSSOverride/GetImage/2/85x55_Business_Card_Landscape_Doublesided.ai' target='_blank')
                                      button.large-button-green Double Sided
                                  .grid_6
                                    a(href='../2090539861/Handler/CSSOverride/GetImage/2/85x55_Business_Card_Landscape_Single_Sided.ai' target='_blank')
                                      button.large-button-green Single Sided
                                .grid_6
                                  .template_title Portrait
                                  .grid_6
                                    a(href='../-218265056/Handler/CSSOverride/GetImage/2/85x55_Business_Card_Portrait_Doublesided.ai' target='_blank')
                                      button.large-button-green Double Sided
                                  .grid_6
                                    a(href='../-1219160705/Handler/CSSOverride/GetImage/2/85x55_Business_Card_Portrait_Single_Sided.ai' target='_blank')
                                      button.large-button-green Single Sided
                            li
                              .row
                                .template_paragraph
                                  | Folded leaflets give you the opportunity to showcase quite a bit of information about your business, products or services in an easy-to-read format. Choose between a single or bi fold leaflet, download a free template below and use each section to organise your message. It’s time to shine!
                                .grid_6
                                  a(href='../1488590700/Handler/CSSOverride/GetImage/2/A5_Folded_Leaflet.ai' target='_blank')
                                    button.large-button-green A5 leaflet (single fold – 4pp)
                                .grid_6
                                  a(href='../1888693903/Handler/CSSOverride/GetImage/2/DL_Roll_Fold_Leaflet.ai' target='_blank')
                                    button.large-button-green DL leaflet (C fold – 6pp)
                              .row
                                .grid_6
                                  a(href='../856240441/Handler/CSSOverride/GetImage/2/DL_Z-Fold_Folded_Leaflet.ai' target='_blank')
                                    button.large-button-green DL leaflet (Z fold – 6pp)
                            li
                              .row
                                .template_paragraph
                                  | Emails, text, and other digital interactions can, sometimes, feel impersonal. Greeting cards are the ideal option to upgrade any corporate connection to a personal level, while keeping it professional. A branded card received in the post can delight a customer and make a memorable impression of your business. And it gets better, you get a free envelope with every greeting card ordered from Hatch. Don’t wait any longer, download our free template and take advantage of these benefits today.
                                .grid_12
                                  .grid_6
                                    a(href='../855815544/Handler/CSSOverride/GetImage/2/Greeting_Card_A5.ai' target='_blank')
                                      button.large-button-green A5
                                  .grid_6
                                    a(href='../-910959134/Handler/CSSOverride/GetImage/2/Greeting_Card_A6.ai' target='_blank')
                                      button.large-button-green A6
                            li
                              .row
                                .template_paragraph
                                  | If you are looking for cost-effective materials to promote your business, look no further. Flyers are a great way to spread the word. They are versatile and can be used to advertise events, product launches, and promotional activities, to name just a few. Partner an eye-catching design with a killer printing finish, and you get yourself a strong tool to help get your brand out there. Download a free template and get your design started.
                                .grid_6
                                  .template_title A5 Landscape
                                  .grid_6
                                    a(href='../-13373641/Handler/CSSOverride/GetImage/2/A5_Flyer_Landscape_Doublesided.ai' target='_blank')
                                      button.large-button-green Double Sided
                                  .grid_6
                                    a(href='../-230404852/Handler/CSSOverride/GetImage/2/A5_Flyer_Landscape_Single_Sided.ai' target='_blank')
                                      button.large-button-green Single Sided
                                .grid_6
                                  .template_title A5 Portrait
                                  .grid_6
                                    a(href='../2079734089/Handler/CSSOverride/GetImage/2/A5_Flyer_Portrait_Double_Sided.ai' target='_blank')
                                      button.large-button-green Double Sided
                                  .grid_6
                                    a(href='../-72065609/Handler/CSSOverride/GetImage/2/A5_Flyer_Portrait_Single_Sided.ai' target='_blank')
                                      button.large-button-green Single Sided
                              .row
                                .grid_6
                                  .template_title A6 Landscape
                                  .grid_6
                                    a(href='../188250002/Handler/CSSOverride/GetImage/2/A6_Flyer_Landscape_Double_Sided.ai' target='_blank')
                                      button.large-button-green Double Sided
                                  .grid_6
                                    a(href='../-58356134/Handler/CSSOverride/GetImage/2/A6_Flyer_Landscape_Single_Sided.ai' target='_blank')
                                      button.large-button-green Single Sided
                                .grid_6
                                  .template_title A6 Portrait
                                  .grid_6
                                    a(href='../-1076824123/Handler/CSSOverride/GetImage/2/A6_Flyer_Portrait_Double_Sided.ai' target='_blank')
                                      button.large-button-green Double Sided
                                  .grid_6
                                    a(href='../1285169211/Handler/CSSOverride/GetImage/2/A6_Flyer_Portrait_Single_Sided.ai' target='_blank')
                                      button.large-button-green Single Sided
                            li
                              .row
                                .template_paragraph
                                  | Besides effectively organising your documents, branded presentation folders also showcase your brand in a professional way. Hatch offer two folder sizes (A4 and A5) and three spine widths, depending on how many pages you intend to insert in your folder. You can also choose if you’d like to have a slot to place your business card on the pocket or not. Download the template for your preferred folder type and start creating your smart-looking design in no time.
                                .grid_12
                                  .template_title A4
                                  .grid_6
                                    a(href='../1074628556/Handler/CSSOverride/GetImage/2/A4_Folder.ai' target='_blank')
                                      button.large-button-green Flat - no business card slot
                                  .grid_6
                                    a(href='../-1596547467/Handler/CSSOverride/GetImage/2/A4_Folder_W_BCSlot.ai' target='_blank')
                                      button.large-button-green Flat - with business card slot
                                .grid_12
                                  .grid_6
                                    a(href='../-183614279/Handler/CSSOverride/GetImage/2/A4_5mm_Capacity_Folder.ai' target='_blank')
                                      button.large-button-green 5mm - no business card slot
                                  .grid_6
                                    a(href='../1942818441/Handler/CSSOverride/GetImage/2/A4_5mm_Capacity_Folder_W_BCSlot.ai' target='_blank')
                                      button.large-button-green 5mm - with business card slot
                                .grid_12
                                  .grid_6
                                    a(href='../-692378276/Handler/CSSOverride/GetImage/2/A4_10mm_Capacity_Folder.ai' target='_blank')
                                      button.large-button-green 10mm - no business card slot
                                  .grid_6
                                    a(href='../-850870790/Handler/CSSOverride/GetImage/2/A4_10mm_Capacity_Folder_W_BCSlot.ai' target='_blank')
                                      button.large-button-green 10mm - with business card slot
                              .row
                                .grid_12
                                  .template_title A5
                                  .grid_6
                                    a(href='../1440965698/Handler/CSSOverride/GetImage/2/A5_Folder.ai' target='_blank')
                                      button.large-button-green Flat - no business card slot
                                  .grid_6
                                    a(href='../1078776696/Handler/CSSOverride/GetImage/2/A5_Folder_W_BCSlot.ai' target='_blank')
                                      button.large-button-green Flat - with business card slot
                                .grid_12
                                  .grid_6
                                    a(href='../805876045/Handler/CSSOverride/GetImage/2/A5_5mm_Capacity_Folder.ai' target='_blank')
                                      button.large-button-green 5mm - no business card slot
                                  .grid_6
                                    a(href='../1131852108/Handler/CSSOverride/GetImage/2/A5_5mm_Capacity_Folder_W_BCSlot.ai' target='_blank')
                                      button.large-button-green 5mm - with business card slot
                                .grid_12
                                  .grid_6
                                    a(href='../1452482550/Handler/CSSOverride/GetImage/2/A5_10mm_Capacity_Folder.ai' target='_blank')
                                      button.large-button-green 10mm - no business card slot
                                  .grid_6
                                    a(href='../-1106734620/Handler/CSSOverride/GetImage/2/A5_10mm_Capacity_Folder_W_BCSlot.ai' target='_blank')
                                      button.large-button-green 10mm - with business card slot
                            |                         ---------------------
                            .row
                              .template_paragraph
                                | Fair feather friend!
                                | The notion that brilliant marketing costs an arm and a leg is a total myth! Feather flags are super cost-effective way of really standing out from the crowd.
                                | Suitable for events, trade shows, exhibitions, parties, and more, flags have a way of immediately capturing and drawing attention to your location.
                                | Incredibly lightweight and portable, these versatile promotional tools can be used to deliver a short promo message in a practical manner.
                                | Custom all weather outdoor flags come in a range of sizes so you'll be sure to find the perfect flag to fly your brands design
                              .grid_12
                                .grid_6
                                  a(href='../855999432/Handler/CSSOverride/GetImage/2/HATCH%20Teardrop%20Small%20-%20760%20x%201610mm.pdf' target='_blank')
                                    button.large-button-green Small 1.9m 
                                .grid_6
                                  a(href='../-1477469223/Handler/CSSOverride/GetImage/2/HATCH%20Teardrop%20Medium%20-%201040%20x%202060mm.pdf' target='_blank')
                                    button.large-button-green Medium 2.3m 
                                .grid_6
                                  a(href='../-389183660/Handler/CSSOverride/GetImage/2/HATCH%20Teardrop%20Large%20-%201150%20x%202820mm.pdf' target='_blank')
                                    button.large-button-green Large 3.1m 
                                .grid_6
                                  a(href='../831376369/Handler/CSSOverride/GetImage/2/HATCH%20Teardrop%20XL%20-%201560%20x%203540mm.pdf' target='_blank')
                                    button.large-button-green Extra Large 4m 
                            li
                style.
                  .template_button {
                  background: #67bcab;
                  display: inline-block;
                  padding: 0 30px;
                  height: 60px;
                  line-height: 60px;
                  max-height: none;
                  color: #fff;
                  font-weight: 700;
                  letter-spacing: 1px;
                  border-radius: 5px;
                  font-size: 20px;
                  width: 100%;
                  text-align: center;
                  float: none;
                  margin-bottom: 20px;
                  }
                  .template_button a {
                  color: #fff;
                  }
                  .template_title {
                  font-weight: 700;
                  font-size: 20px;
                  margin-top: 0;
                  padding-top: 0;
                  padding-bottom: 5px;
                  }
                  .link-border {
                  display: table;
                  overflow: hidden;
                  }
                  .large-button-green {
                  width: 100%;
                  margin-bottom: 30px;
                  }
                  .grid_12+.grid_12 {
                  margin-left: 0%;
                  }
                  .template_paragraph {
                  margin-bottom: 30px;
                  }
                  li.template_menu_link {
                  position:relative;
                  }
                  li.template_menu_link.link-border:after {
                  content: '';
                  position: absolute;
                  left: 0;
                  bottom: 2px;
                  width: 100%;
                  height: 3px;
                  background: #67bcab;
                  -webkit-transform: scaleX(1);
                  -ms-transform: scaleX(1);
                  transform: scaleX(1);
                  -webkit-transform-origin: left;
                  -ms-transform-origin: left;
                  transform-origin: left;
                  transition: -webkit-transform .7s cubic-bezier(.19, 1, .22, 1) .2s;
                  transition: transform .7s cubic-bezier(.19, 1, .22, 1) .2s;
                  transition: transform .7s cubic-bezier(.19, 1, .22, 1) .2s, -webkit-transform .7s cubic-bezier(.19, 1, .22, 1) .2s;
                  }
                script.
                  $(".template_menu li").each(function(index) {
                  $(this).click(function() {
                  $(".template_content li").hide();
                  $(".template_content li:nth-child(" + (index + 1) + ")").fadeIn();
                  $(".template_menu li").removeClass('link-border');
                  $(this).addClass('link-border');
                  });
                  });
                  $(".template_content li").hide();
                  $(".template_content li:nth-child(1)").show();
          script(type='text/javascript').
            $(document).ready(function() {
            var rawPageName = '';
            var pageName = rawPageName.replace(/ /g, "_");
            $("html").addClass('topicPage');
            $('body').addClass(pageName);
            });
          #AfterMainContainer.afterMainContainer-inner
            .row__container
              .newsfeed.section
                h2.newsfeed__title.section-heading Our Latest Blog Posts
                .newsfeed__items.row__container
                  .newsfeed__item
                    .newsfeed__img
                      img(alt='' src='../-592765259/Handler/Picture/PI/T/0001444.png')
                    .newsfeed__desc Say hello to our seeded paper
                    a.newsfeed__link(href='../blog/41/say-hello-to-our-seeded-paper.html') Read more
                  .newsfeed__item
                    .newsfeed__img
                      img(alt='' src='../2028263767/Handler/Picture/PI/T/0001298.png')
                    .newsfeed__desc Hatch X Valeria Rocca
                    a.newsfeed__link(href='../blog/40/hatch-x-valeria-rocca.html') Read more
                  .newsfeed__item
                    .newsfeed__img
                      img(alt='' src='../-429216974/Handler/Picture/PI/T/0001218.jpg')
                    .newsfeed__desc SHARE IT, PLANT IT, GROW IT!
                    a.newsfeed__link(href='../blog/39/share-it-plant-it-grow-it.html') Read more
                script.
                  (function() {$(document).ready(function() {
                  newjQuery('.newsfeed__items').slick({
                  infinite: false,
                  speed: 300,
                  slidesToShow: 1,
                  slidesToScroll: 1,
                  mobileFirst: true,
                  dots: true,
                  arrows: false,
                  centerMode: true,
                  centerPadding: '5%',
                  responsive: [{
                  breakpoint: 420,
                  settings: {
                  slidesToShow: 2,
                  slidesToScroll: 2,
                  dots: true,
                  autoplay: true,
                  centerMode: false,
                  autoplaySpeed: 5000,
                  }
                  },
                  {
                  breakpoint: 770,
                  settings: {
                  slidesToShow: 3,
                  slidesToScroll: 3,
                  dots: true,
                  centerMode: false,
                  autoplay: true,
                  autoplaySpeed: 5000,
                  }
                  }, ]
                  });
                  });
                  })();
              .newsLetterSmallWrapper
                .newsLetterSmall
                  .newsLetterSmallInnerWrapper
                    .newsLetterSmallBlock.clearfix
                      .title
                        div E-mail Address
                      .listbox
                        #mc_embed_signup.formItems
                          form#mc-embedded-subscribe-form.validate(action='https://hatchprint.us14.list-manage.com/subscribe/post?u=4e77ca1c6219a1949c2aa2bba&id=962dd864ff' method='post' name='mc-embedded-subscribe-form' target='_blank' novalidate='')
                            div(id='mc_embed_signup_scroll mc-field-group')
                              input#mce-EMAIL.required.email(type='email' value='' name='EMAIL')
                            #mce-responses.clear
                              #mce-error-response.response(style='display:none')
                              #mce-success-response.response(style='display:none')
                            // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                            div(style='position: absolute; left: -5000px;' aria-hidden='true')
                              input(type='text' placeholder='(be part of the tribe)' name='b_4e77ca1c6219a1949c2aa2bba_962dd864ff' tabindex='-1' value='')
                            .buttons
                              input#mc-embedded-subscribe.button(type='submit' value='Subscribe' name='subscribe')
                      script(type='text/javascript' src='http://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
                      script(type='text/javascript').
                        (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);
                      // End mc_embed_signup
              .instagram-feed
                .catfish-container
                  script(src='../758310976/Handler/Static/Scripts/instafeed/instafeed.min.js' type='text/javascript')
                  h2
                  h2 Instagram Feed 
                  span @Hatch_Print
                  ul.instafeed
                  .embedsocial-hashtag(data-ref='86a590f46849303385bc2cd68d4a2081e3f384bf')
                  script.
                    (function(d, s, id){var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/cdn/ht.js"; d.getElementsByTagName("head")[0].appendChild(js);}(document, "script", "EmbedSocialHashtagScript"));
                  script(type='text/javascript').
                    feed.options.target = 'instafeed';
                    feed.options.template = '<li><a href="{{link}}" target="_blank" rel="nofollow noopener"><img src="{{image}}" /></a></li>';
                    window.onload = function() {
                    feed.run();
                    };
