extend ../layout.jade 
block content
 .generalPageWrapper.layout--homePageA
  #BeforeMainContainer.beforeMainContainer-inner.column
    .row__container
  #contentrow.row
    #contentiInnerRow.clearfix
      .row__container
        .grid_3
        .grid_9
          #phTopic.topicpage
            .catfish-container
              .topicpage-body
                style.
                  .newsfeed {
                  display: none;
                  }
                .topic__overview
                  .topic__header
                    li(style='background-image:url(../-902065898/Handler/CSSOverride/GetImage/2/yellow-watercolor-paper-min.jpg);')
                      .hero-text
                        h1
                          font(color='white') The Seeded Range
                        font(color='white')
                        p
                          font(color='white')
                            b Share it. Plant it. Grow it!
                  .topic-rollover
                    .contentblock.left.section
                      .row__container
                        .grid_6.contentblock__img
                          img(alt="Notepad with copy 'we make it simple' in green. Representing Hatch's goal to simplify the ordering process for printed materials. " src='../-1815164433/Handler/CSSOverride/GetImage/2/Small-min.jpg')
                        .grid_6
                          p.emp(style='margin-top:0px;') Hatch, proudly introduces - seeded paper, the paper you can plant.
                          p
                            | We do love to throw people curve balls, so thats exactly what we have done, meet our seeded paper! This clever paper is not only made from recycled materials but it also contains embedded seeds.
                            | This means once the paper is planted, it can actually grow into a mini wild flower garden or even a fresh herb garden.
                          p
                            b More info:
                            br
                            b Thickness:
                            |  280gsm, this about as thick as a postcard.
                            br
                            b Seeds: 
                            b Wild Flower 
                            |  (Birdsfoot Trefoil, Black Knapweed, Black Medick, Meadow Buttercup, Musk Mallow, Ox-Eye-Daisy, Ribworth Plantain, Red Campion, Slad Burnet, Self Heal, White Campion, Yarrow.
                            br
                            b Herb
                            |  - (Dill, Thyme, Basil, Rocket)
                          p
                            font(size='-1') * There is no set amount of seeds per sheet
                            br
                            font(size='-1')
                              | Just remember, just like mother nature herself, our seeded stock isn't perfectly uniformed so your end result won't be 100% regimented in terms of colour and size, this makes each item unique.
                              | If you want something that can stand up against an army inspection its best to stick with our other stock options that have smoother finish. Lastly, just like a packet of seeds we cannot
                              | guarantee germination of every seed.
                          p
                            | Check out our seeded paper growth storys here:
                            a(href='https://www.instagram.com/stories/highlights/18136460518028604')
                              font(size='-1')  CLICK HERE 
                            font(size='-1')
                            br
                            | Or to find out more about our seeded paper:
                            a(href='../blog/41/say-hello-to-our-seeded-paper.html')
                              font(size='-1')  CLICK HERE 
                            font(size='-1')
                          p
                            | Don't forget if you want to be featured on our Instagram simply tag your post 
                            a(href='https://www.instagram.com/explore/tags/shareplantgrow/')  #shareplantgrow 
                        // Choose an option
                        .chooseanoption.section
                          .row__container
                            img(alt="Choose an option' written in white text with a different font style for each word. Title to a section offering three options to design artwork with Hatch." src='../1762648265/Handler/CSSOverride/GetImage/2/choose-an-option-hatch%201.png')
                            p.chooseanoption__subtitle to select quantities and view prices
                            ul.chooseanoption__list
                              li.chooseanoption__item.grid_4
                                img(alt="Front of a white card with an arrow within a circle, back of cards says 'Upload your artwork'. Upload your artwork on Hatch." src='../1969919602/Handler/CSSOverride/GetImage/2/90023608_545125322784433_3928943653984990310_n.jpg')
                                a(href='../p/322.html')
                                  h3.chooseanoption__title Flyers, Postcards & Invites
                                  .teaser-overlay
                                    h3.teaser-overlay-text Explore
                              li.chooseanoption__item.grid_4
                                img(alt="White Hatch card with a circle containing a computer screen being drawn on by a pencil and 'Design your own' written below." src='../-545072134/Handler/CSSOverride/GetImage/2/0001149_seeded_business_cards.jpg')
                                a(href='../p/321/seeded-business-cards-printing.html')
                                  h3.chooseanoption__title Business Cards
                                  .teaser-overlay
                                    h3.teaser-overlay-text Lets Go!
                              li.chooseanoption__item.grid_4
                                img(alt='7 green, purple, food imagery and white Hatch templates. Browse the Hatch templates for inspiration and ideas. Buy today.' src='../-670816461/Handler/CSSOverride/GetImage/2/90416254_145981136936760_1291315717925566417_n.jpg')
                                a(href='../p/323/index.html')
                                  h3.chooseanoption__title Greetings Cards
                                  .teaser-overlay
                                    h3.teaser-overlay-text Oi Oi
                        // Video 1/2 & 1/2
                        // How it works
                        .howitworks.section
                          img.howitworks__title.section-heading(alt="How it works' written in white text with a different font style for each word. Title to a section explaining about Hatch's ordering process. " src='../2074881403/Handler/CSSOverride/GetImage/2/how-it-works-hatch%20copy.png')
                          .howitworks__items.light.row__container
                            .howitworks__item
                              .howitworks__icon
                                img(alt="A white circle with the number '1' in the centre. Represents the first step of Hatch's ordering process. " src='../1411937891/Handler/CSSOverride/GetImage/2/number-one-circle-hatch.png')
                              .howitworks__desc Select your product
                            .howitworks__item
                              .howitworks__icon
                                img(alt="A white circle with the number '2' in the centre. Represents the second step of Hatch's ordering process. " src='../718650928/Handler/CSSOverride/GetImage/2/number-two-circle-hatch.png')
                              .howitworks__desc Select the delivery option that best suits your agenda
                            .howitworks__item
                              .howitworks__icon
                                img(alt="A white circle with the number '3' in the centre. Represents the third step of Hatch's ordering process. " src='../-1188241895/Handler/CSSOverride/GetImage/2/number-three-circle-hatch.png')
                              .howitworks__desc Enter a few details about yourself
                            .howitworks__item
                              .howitworks__icon
                                img(alt="A white circle with the number '4' in the centre. Represents the fourth step of Hatch's ordering process. " src='../-911664419/Handler/CSSOverride/GetImage/2/number-four-circle-hatch.png')
                              .howitworks__desc Get ready to be impressed with our quality when your order arrives 
                          script.
                            (function() {
                            $(document).ready(function() {
                            newjQuery('.howitworks__items').slick({
                            infinite: false,
                            speed: 300,
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            mobileFirst: true,
                            dots: true,
                            arrows: false,
                            adaptiveHeight: true,
                            responsive: [{
                            breakpoint: 420,
                            settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1,
                            dots: true,
                            autoplay: true,
                            autoplaySpeed: 5000,
                            }
                            }, {
                            breakpoint: 770,
                            settings: {
                            slidesToShow: 4,
                            slidesToScroll: 4,
                            dots: false,
                            autoplay: true,
                            autoplaySpeed: 5000,
                            }
                            }, ]
                            });
                            });
                            })();
                        .reasonstobuy.section
                          .row__container
                            img.section-heading(alt="Reasons to buy' written in blue tex with a different font style for each word. Title to a section explaining reasons to order printed materials from Hatch." src='../-1773067111/Handler/CSSOverride/GetImage/2/reasons-to-buy-hatch%20copy.png')
                            .reasonstobuy__nav
                            .reasonstobuy__slider
                              ul.slides
                                li(data-thumb='/-1504500428/Handler/CSSOverride/GetImage/2/same-day-delivery copy.svg')
                                  .reasonstobuy__title Gophr - Same day delivery
                                  .reasonstobuy__desc
                                    | Need your business cards today? No worries. We’ve teamed up with Gophr to offer same day delivery throughout London. Order by 12pm and have your professionally printed business cards
                                    | in your hands by 5pm.
                                li(data-thumb='/2113104787/Handler/CSSOverride/GetImage/2/innovative-ideas copy.svg')
                                  .reasonstobuy__title Innovative ideas to make you stand out
                                  .reasonstobuy__desc
                                    | Looking for something that will make you stand out? Look no further. With our Creative line of business cards, we can print white ink on the coloured paper of your selection. And with
                                    | our Ultra Thick line, your business cards can have a charming coloured seam, discreet yet impactful.
                                li(data-thumb='/-268745587/Handler/CSSOverride/GetImage/2/delivery-options-hatch copy.svg')
                                  .reasonstobuy__title Delivery options to suit your busy agenda
                                  .reasonstobuy__desc
                                    | We understand how hectic the day can be and we want to help make it a bit easier to manage. That’s why we offer five different delivery options, so you can pick the most convenient one
                                    | for you.
                                li(data-thumb='/764207181/Handler/CSSOverride/GetImage/2/create-your-own.svg')
                                  .reasonstobuy__title Best design tool on the web
                                  .reasonstobuy__desc
                                    | Make your own business cards online with our easy-to-use tool. Start from scratch, get going with our free business cards templates or upload your own artwork. With us, design can be
                                    | done in a matter of clicks.
                              a.reasonstobuy__link(href='why-choose-hatch-printing-services.html') Find out more
                          script.
                            (function() {
                            $(document).ready()
                            function createActiveSlide(slider) {
                            $(".reasonstobuy__nav").find(".hatch-active").removeClass("hatch-active");
                            $(".reasonstobuy__nav").find(".flex-active").parent().addClass("hatch-active");
                            }
                            $(window).load(function() {
                            $('.reasonstobuy__slider').flexslider({
                            animation: "fade",
                            touch: true,
                            controlNav: "thumbnails",
                            controlsContainer: ".reasonstobuy__nav",
                            slideshow: false,
                            start: createActiveSlide,
                            after: createActiveSlide
                            });
                            });
                            })();
                .sample-pack
                  .row__container
                    .grid_6.sample-pack__featureimg
                      img.sample-pack__img(alt='Selection of 5 samples of business cards. 1 yellow, 1 lavender, 1 with red bubbles, 1 pink with a bowl of sweets and 1 featuring a dog. Representing sample packs Hatch offers free of charge.' src='../502931478/Handler/CSSOverride/GetImage/2/SamplePack2021-min.png')
                    .grid_6.sample-pack__right.offset_grid_6
                      h2 Get a free sample pack
                      p
                        | We are proud of the high quality of our products. But don’t take it from us… order a free sample pack and see for yourself.
                      p
                        | No hidden costs, simply add your address and we will get it in the post same day.
                      a.sample-pack__link(href='printed-materials-sample-pack.html') Order sample pack now 
      script(type='text/javascript').
        $(document).ready(function() {
        var rawPageName = '';
        var pageName = rawPageName.replace(/ /g, "_");
        $("html").addClass('topicPage');
        $('body').addClass(pageName);
        });
      #AfterMainContainer.afterMainContainer-inner
        .row__container
          .newsfeed.section
            h2.newsfeed__title.section-heading Our Latest Blog Posts
            .newsfeed__items.row__container
              .newsfeed__item
                .newsfeed__img
                  img(alt='' src='../-592765259/Handler/Picture/PI/T/0001444.png')
                .newsfeed__desc Say hello to our seeded paper
                a.newsfeed__link(href='../blog/41/say-hello-to-our-seeded-paper.html') Read more
              .newsfeed__item
                .newsfeed__img
                  img(alt='' src='../2028263767/Handler/Picture/PI/T/0001298.png')
                .newsfeed__desc Hatch X Valeria Rocca
                a.newsfeed__link(href='../blog/40/hatch-x-valeria-rocca.html') Read more
              .newsfeed__item
                .newsfeed__img
                  img(alt='' src='../-429216974/Handler/Picture/PI/T/0001218.jpg')
                .newsfeed__desc SHARE IT, PLANT IT, GROW IT!
                a.newsfeed__link(href='../blog/39/share-it-plant-it-grow-it.html') Read more
            script.
              (function() {
              $(document).ready(function() {
              newjQuery('.newsfeed__items').slick({
              infinite: false,
              speed: 300,
              slidesToShow: 1,
              slidesToScroll: 1,
              mobileFirst: true,
              dots: true,
              arrows: false,
              centerMode: true,
              centerPadding: '5%',
              responsive: [{
              breakpoint: 420,
              settings: {
              slidesToShow: 2,
              slidesToScroll: 2,
              dots: true,
              autoplay: true,
              centerMode: false,
              autoplaySpeed: 5000,
              }
              },
              {
              breakpoint: 770,
              settings: {
              slidesToShow: 3,
              slidesToScroll: 3,
              dots: true,
              centerMode: false,
              autoplay: true,
              autoplaySpeed: 5000,
              }
              },
              ]
              });
              });
              })();
          .newsLetterSmallWrapper
            .newsLetterSmall
              .newsLetterSmallInnerWrapper
                .newsLetterSmallBlock.clearfix
                  .title
                    div E-mail Address
                  .listbox
                    #mc_embed_signup.formItems
                      form#mc-embedded-subscribe-form.validate(action='https://hatchprint.us14.list-manage.com/subscribe/post?u=4e77ca1c6219a1949c2aa2bba&id=962dd864ff' method='post' name='mc-embedded-subscribe-form' target='_blank' novalidate='')
                        div(id='mc_embed_signup_scroll mc-field-group')
                          input#mce-EMAIL.required.email(type='email' value='' name='EMAIL')
                        #mce-responses.clear
                          #mce-error-response.response(style='display:none')
                          #mce-success-response.response(style='display:none')
                        // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                        div(style='position: absolute; left: -5000px;' aria-hidden='true')
                          input(type='text' placeholder='(be part of the tribe)' name='b_4e77ca1c6219a1949c2aa2bba_962dd864ff' tabindex='-1' value='')
                        .buttons
                          input#mc-embedded-subscribe.button(type='submit' value='Subscribe' name='subscribe')
                  script(type='text/javascript' src='http://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
                  script(type='text/javascript').
                    (function($) {
                    window.fnames = new Array();
                    window.ftypes = new Array();
                    fnames[0] = 'EMAIL';
                    ftypes[0] = 'email';
                    }(jQuery));
                    var $mcj = jQuery.noConflict(true);
                  // End mc_embed_signup
          .instagram-feed
            .catfish-container
              script(src='../758310976/Handler/Static/Scripts/instafeed/instafeed.min.js' type='text/javascript')
              h2
              h2 Instagram Feed 
              span @Hatch_Print
              ul.instafeed
              .embedsocial-hashtag(data-ref='86a590f46849303385bc2cd68d4a2081e3f384bf')
              script.
                (function(d, s, id) {
                var js;
                if (d.getElementById(id)) {
                return;
                }
                js = d.createElement(s);
                js.id = id;
                js.src = "https://embedsocial.com/cdn/ht.js";
                d.getElementsByTagName("head")[0].appendChild(js);
                }(document, "script", "EmbedSocialHashtagScript"));
              script(type='text/javascript').
                feed.options.target = 'instafeed';
                feed.options.template = '<li><a href="{{link}}" target="_blank" rel="nofollow noopener"><img src="{{image}}" /></a></li>';
                window.onload = function() {
                feed.run();
                };
